anytree==2.8.0
apex
auto_mix_prep==0.2.0
boto3==1.12.45
botocore==1.15.45
deepspeed==0.6.4
einops==0.3.0
future==0.18.2
huggingface_hub
ipdb==0.13.9
matplotlib==3.2.1
nltk==3.4.5
numpy==1.19.2
opencv_python==4.2.0.32
Pillow
progressbar33==2.4
psutil==5.7.0
PyYAML==6.0
requests==2.25.1
scikit_image
scipy==1.4.1
six==1.15.0
timm
tensorflow==2.6.2
tensorflow_datasets==4.3.0
tqdm
